@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
@font-face {
  font-family: "KOHIBaeumOTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  word-wrap: break-word;
  word-break: keep-all;
  text-align: center;
  overflow-x: hidden;
}

body {
  position: relative;
  color: #272727;
  z-index: 0;
  font-family: "Pretendard";
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

.inner {
  margin: 0 auto;
  height: auto;
}

.side__nav,
.nav,
.footer,
.main,
.main-2,
.main-3,
.about,
.about-2,
.company,
.map,
.product,
.marine,
.cs,
.faq,
.information,
.information-2 {
  background-size: cover;
  background-position: center;
}
.side__nav .inner,
.nav .inner,
.footer .inner,
.main .inner,
.main-2 .inner,
.main-3 .inner,
.about .inner,
.about-2 .inner,
.company .inner,
.map .inner,
.product .inner,
.marine .inner,
.cs .inner,
.faq .inner,
.information .inner,
.information-2 .inner {
  max-width: calc(100% - 62rem);
  padding: 9.7rem 0 20.8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  position: fixed;
  width: 100%;
  height: 8rem;
  color: white;
  background-color: transparent;
  z-index: 999;
}
.nav .inner {
  padding: 1.5rem 0;
  justify-content: space-between;
}
.nav__logo {
  width: 17rem;
  height: 4.2rem;
  background-image: url(/img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.nav__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav__menu a {
  color: white;
}
.nav__menu a li {
  margin-right: 7rem;
  line-height: 2.1rem;
  font-size: 1.8rem;
}
.nav__menu a:last-child {
  margin-right: 0;
}

.nav__menu-btn {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  background-image: url(/img/menu_btn.png);
  background-size: cover;
}

.mega__menu {
  background-color: transparent;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.31);
  width: 100vw;
  height: 6.4rem;
  position: fixed;
  z-index: 1;
  display: none;
}
.mega__menu .inner {
  max-width: calc(100% - 62rem);
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.mega__menu ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.mega__menu ul a {
  color: white;
}
.mega__menu ul a li {
  font-size: 1.6rem;
  font-weight: 300;
  margin-left: 5.6rem;
}
.mega__menu ul .flex_box {
  display: flex;
}
.mega__menu ul .flex_none {
  display: none;
}
.mega__menu .intro_list {
  display: none;
}
.mega__menu .cs_list {
  display: none;
}
.mega__menu .information_list {
  display: none;
}

.side__nav {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #1c1c1c;
  z-index: 999;
}
.side__nav .inner {
  padding: 1.5rem 0;
  justify-content: space-between;
}
.side__nav__logo {
  width: 17rem;
  height: 4.2rem;
  background-image: url(/img/logo_color.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.side__nav-container {
  max-width: calc(100% - 84rem);
  margin: auto;
  display: flex;
  text-align: left;
  justify-content: space-between;
}
.side__nav-list {
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  color: #565656;
}
.side__nav-list a {
  color: #565656;
}
.side__nav-list--title {
  font-size: 4.8rem;
  font-weight: 700;
  margin-top: 5.6rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.side__nav-list--title:hover a {
  color: white;
  transition: all 1s;
}
.side__nav-list--title:hover, .side__nav-list--title:hover .side__nav-list--content a {
  color: white;
  cursor: pointer;
  transition: all 1s;
}
.side__nav-list--title:hover .side__nav-list--content:before {
  background-color: #2b4d84;
  transition: all 1s;
}
.side__nav-list--box {
  display: flex;
  margin-top: 1.6rem;
}
.side__nav-list--content {
  font-size: 2rem;
  margin-right: 1.6rem;
  font-weight: 200;
  text-indent: 2rem;
}
.side__nav-list--content::before {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  background-color: #565656;
  border-radius: 100%;
  display: inline-flex;
  margin-right: 1.2rem;
}
.side__nav-address {
  font-size: 1.8rem;
  color: white;
  text-align: right;
  line-height: 2.8rem;
  align-self: flex-end;
}
.side__nav-address p {
  margin-top: 2.4rem;
}
.side__nav-address .thin_text {
  font-weight: 200;
}

.copy {
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 7rem;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
}

.nav__menu-cls {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
}
.nav__menu-cls img {
  width: 5rem;
  height: 5rem;
}

.footer {
  width: 100vw;
  height: 100%;
  background-color: #272727;
  font-size: 1.5rem;
  text-align: right;
  font-weight: 100;
}
.footer .inner {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}
.footer__logo {
  width: 17rem;
  height: 4.2rem;
  background-image: url(/img/logo_color.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3.4rem;
}
.footer__content p {
  color: #cccccc;
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1.9rem;
  text-align: left;
  margin-top: 2.4rem;
}
.footer__btn {
  display: flex;
  align-items: flex-end;
}
.footer__btn a {
  font-size: 1.6rem;
  line-height: 1.9rem;
}
.footer__btn button {
  font-family: "Pretendard";
  color: #c8c8c8;
  width: 14.8rem;
  height: 3.9rem;
  border: 1px solid #707070;
  background: none;
}
.footer__btn .footer__btn-1 {
  margin-right: 1.4rem;
}

.subtitle__intro {
  width: 100vw;
  height: 50rem;
  background-image: url(/img/intro_bg.png);
  background-size: cover;
  background-position: center;
}
.subtitle__intro .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subtitle__product {
  width: 100vw;
  height: 50rem;
  background-image: url(/img/product_bg.png);
  background-size: cover;
  background-position: center;
}
.subtitle__product .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subtitle__marine {
  width: 100vw;
  height: 50rem;
  background-image: url(/img/marine__bg.png);
  background-size: cover;
  background-position: center;
}
.subtitle__marine .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subtitle__cs {
  width: 100vw;
  height: 50rem;
  background-image: url(/img/cs_bg.png);
  background-size: cover;
  background-position: center;
}
.subtitle__cs .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.subtitle__cs__blk {
  width: 100vw;
  height: 50rem;
  background-color: rgba(0, 0, 0, 0.16);
  position: absolute;
  z-index: 0;
}
.subtitle__information {
  width: 100vw;
  height: 50rem;
  background-image: url(/img/information_bg.png);
  background-size: cover;
  background-position: center;
}
.subtitle__information .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subtitle__title p:first-of-type {
  font-size: 5.4rem;
  font-weight: 600;
  color: white;
}
.subtitle__title p:last-of-type {
  font-size: 2.2rem;
  color: white;
  font-weight: 200;
  margin-top: 2.2rem;
}
.subtitle__btn {
  margin-top: 6.5rem;
}
.subtitle__btn button {
  color: white;
  line-height: 3.6rem;
  width: 11.6rem;
  height: 3.8rem;
  background: none;
  border: 1px solid white;
  border-radius: 3.1rem;
  margin-right: 2.6rem;
}
.subtitle__btn .active__btn {
  color: #363636;
  background-color: white;
}

.faq .inner {
  padding: 11rem 0 16rem 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.faq__title p {
  text-align: left;
}
.faq__title p:nth-child(1) {
  font-size: 4rem;
  line-height: 6.3rem;
  color: #373737;
  font-weight: 800;
}
.faq__title p:nth-child(2) {
  font-size: 1.8rem;
  margin-top: 1.8rem;
}
.faq hr {
  height: 1px;
  color: #373737;
  width: 100%;
  margin-top: 2.8rem;
}
.faq__write {
  width: 100%;
  height: 88.5rem;
  border: 1px solid #373737;
  margin-top: 6.1rem;
}
.faq__list {
  width: 17.9rem;
  height: 4.9rem;
  margin-top: 3.6rem;
  border: 1px solid #707070;
  background: none;
  color: #363636;
  font-size: 1.8rem;
  align-self: flex-end;
}

@media screen and (max-width: 1515px) {
  .nav {
    height: 6.4rem;
  }
  .nav__menu {
    display: none;
  }
  .footer .inner,
.main .inner,
.main-2 .inner,
.main-3 .inner,
.about .inner,
.about-2 .inner,
.company .inner,
.map .inner,
.product .inner,
.marine .inner,
.cs .inner,
.faq .inner,
.information .inner,
.information-2 .inner,
.information__gallery .inner {
    max-width: calc(100% - 3.5rem);
    padding: 9.7rem 0 20.8rem 0;
  }
  .nav .inner {
    padding: 0.7rem 0;
    max-width: calc(100% - 3.5rem);
  }
  .side__nav .inner {
    padding: 0.7rem 0;
    max-width: calc(100% - 3.5rem);
    vertical-align: baseline;
  }
  .side__nav-list {
    padding: 0;
  }
  .side__nav-list--title {
    line-height: 1;
  }
  .side__nav-list--box {
    padding: 0;
  }
  .side__nav-container {
    max-width: calc(100% - 3.5rem);
  }
}
@media screen and (max-width: 992px) {
  .nav {
    height: 6.4rem;
  }
  .nav__menu {
    display: none;
  }
  .footer .inner,
.main .inner,
.main-2 .inner,
.main-3 .inner,
.about .inner,
.about-2 .inner,
.company .inner,
.map .inner,
.product .inner,
.marine .inner,
.cs .inner,
.faq .inner,
.information .inner,
.information-2 .inner,
.information__gallery .inner {
    max-width: calc(100% - 3.5rem);
    padding: 9.7rem 0 20.8rem 0;
  }
  .nav .inner {
    padding: 0.7rem 0;
    max-width: calc(100% - 3.5rem);
  }
  .side__nav .inner {
    padding: 0.7rem 0;
    max-width: calc(100% - 3.5rem);
    vertical-align: baseline;
  }
  .side__nav-list {
    padding: 0;
  }
  .side__nav-list--title {
    line-height: 1;
  }
  .side__nav-list--box {
    padding: 0;
  }
  .side__nav-container {
    max-width: calc(100% - 3.5rem);
  }
  .side__nav-list--title {
    font-size: 5.3rem;
    margin-top: 6.8rem;
    color: #cccccc;
  }
  .side__nav-list a {
    color: #cccccc;
  }
  .side__nav-list--content {
    font-size: 2.6rem;
    margin-right: 3.5rem;
    text-indent: 0rem;
  }
  .side__nav-list--content::before {
    background-color: #2b4d84;
  }
  .side__nav-address {
    font-size: 2.4rem;
    color: #c8c8c8;
    line-height: 3.8rem;
  }
  .copy {
    color: #565656;
    font-size: 2.4rem;
    padding: 0;
    padding-bottom: 6rem;
    padding-right: 1.7rem;
    bottom: 0;
    right: 0;
    text-align: right;
    width: 100%;
  }
  ul.slick-dots {
    width: 13%;
  }
  .main-2 {
    background-image: url(/img/main-2-992.png);
  }
  .main-2__ani-1 {
    top: 30%;
    right: 0;
    width: 23.6rem;
    height: 23.6rem;
  }
  .main-2__ani-2 {
    bottom: 0%;
    right: 52%;
    width: 23.5rem;
    height: 23.5rem;
  }
  .main-3 .inner {
    height: 100%;
    position: absolute;
    padding-left: 3.5rem;
  }
  .main-3__content {
    justify-content: flex-end;
  }
  .footer .inner {
    padding: 4rem 0;
  }
  .footer__logo {
    width: 20rem;
    height: 4.9rem;
  }
  .footer__content {
    margin-top: 0rem;
  }
  .subtitle__intro {
    height: 38.2rem;
  }
  .subtitle__blk {
    height: 38.2rem;
  }
  .subtitle__product {
    height: 38.2rem;
  }
  .subtitle__marine {
    height: 38.2rem;
  }
  .subtitle__marine__blk {
    height: 38.2rem;
  }
  .subtitle__cs {
    height: 38.2rem;
  }
  .subtitle__cs__blk {
    height: 38.2rem;
  }
  .subtitle__information {
    height: 38.2rem;
  }
  .subtitle__information__blk {
    height: 38.2rem;
  }
  .subtitle__title p:first-of-type {
    font-size: 4rem;
  }
  .subtitle__title p:last-of-type {
    font-size: 1.8rem;
    margin-top: 0.9rem;
  }
  .subtitle__btn {
    margin-top: 4.8rem;
  }
  .subtitle__btn button {
    line-height: 3.9rem;
    width: 20rem;
    height: 4rem;
    font-size: 1.8rem;
    margin-right: 3rem;
  }
  .about__title {
    font-size: 3.6rem;
    line-height: 5.8rem;
  }
  .about .inner {
    padding: 8rem 0;
  }
  .about__card {
    margin-top: 4.8rem;
  }
  .about__card hr {
    display: none;
  }
  .about__card .card {
    width: calc(50% - 0.8rem);
    text-align: left;
    padding: 6rem 3rem;
  }
  .about__card .card01 {
    background-color: #f4ecfb;
    border-radius: 18px;
  }
  .about__card .card02 {
    background-color: #e7f3f6;
    border-radius: 18px;
  }
  .about__card .card03 {
    background-color: #e7f0fe;
    border-radius: 18px;
    margin-top: 1.5rem;
  }
  .about__card .card04 {
    background-color: #edecff;
    border-radius: 18px;
    margin-top: 1.5rem;
  }
  .about__card .card__title {
    font-family: "GmarketSansMedium";
    font-size: 2.8rem;
  }
  .about__card .card__subtitle {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 2.4rem;
  }
  .about__card .card__content {
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-top: 6.2rem;
  }
  .about-2 .inner {
    padding: 19rem 0 0 0;
  }
  .about-2__title p:first-of-type {
    font-size: 3.6rem;
  }
  .about-2__title p:last-of-type {
    margin-top: 2.6rem;
    line-height: 2.8rem;
  }
  .about-2__content {
    padding-top: 0;
    margin-top: 7rem;
  }
  .about-2__content .inner {
    padding: 11.4rem 0 16rem 0;
  }
  .about-2__content .card {
    width: calc(50% - 1.5rem);
  }
  .about-2__content .card:nth-of-type(1) .card-icon {
    width: 6.5rem;
    height: 6.5rem;
    margin-bottom: 4rem;
  }
  .about-2__content .card:nth-of-type(2) .card-icon {
    width: 6.5rem;
    height: 7rem;
    margin-bottom: 4rem;
  }
  .about-2__content .card:nth-of-type(3) .card-icon {
    width: 5.5rem;
    height: 7.3rem;
    margin-bottom: 4rem;
  }
  .about-2__content .card:nth-of-type(4) .card-icon {
    width: 5.6rem;
    height: 7rem;
    margin-bottom: 4rem;
  }
  .about-2__content .card p {
    margin-bottom: 3.2rem;
  }
  .about-2__content .card p:first-of-type {
    font-size: 2.8rem;
  }
  .about-2__content .card p:last-of-type {
    font-size: 1.8rem;
    margin-top: 4rem;
    line-height: 2.8rem;
  }
  .about-2__content .card span {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
    display: block;
    margin-right: 0rem;
  }
  .company__title p:nth-child(1) {
    font-size: 3.6rem;
    line-height: 5.8rem;
  }
  .company__title p:nth-child(2) {
    font-size: 1.8rem;
    margin-top: 1.6rem;
  }
  .company__img {
    height: 31.8rem;
    margin-top: 3.4rem;
    background-image: url(/img/company__img-992.png);
  }
  .entries .entry {
    padding-top: 2rem;
  }
  .entries .entry .title {
    font-size: 2.4rem;
    line-height: 5.8rem;
    margin-bottom: 1.6rem;
  }
  .entries .entry .body {
    margin-top: 2.1rem;
  }
  .entries .entry .body p {
    margin-top: 2.5rem;
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .entries .entry:nth-child(2n) .title.big:before {
    transform: translate(152px, -50%);
  }
  .map__title p:nth-child(1) {
    font-size: 3.6rem;
    line-height: 5.8rem;
  }
  .map__title p:nth-child(2) {
    font-size: 1.8rem;
    margin-top: 1.6rem;
  }
  .map__img {
    height: 52.6rem;
    margin-top: 4.5rem;
  }
  .map hr {
    margin-top: 5.8rem;
  }
  .map__address-box {
    margin-top: 4.4rem;
    display: flex;
    align-items: center;
  }
  .map__address-box:nth-child(1) .address-icon {
    margin-right: 1.8rem;
  }
  .map__address-box:nth-child(2) .address-icon {
    margin-right: 1.8rem;
  }
  .map__address-box:nth-child(3) .address-icon {
    margin-right: 1.8rem;
  }
  .map__address-box p:nth-of-type(1) {
    margin-top: 0rem;
    font-size: 1.8rem;
  }
  .map__address-box p:nth-of-type(2) {
    margin-top: 1.4rem;
  }
  .product__img {
    margin-top: 4rem;
    height: 37.3rem;
  }
  .product .inner {
    padding: 8rem 0;
  }
  .product__title p:nth-child(1) {
    font-size: 3.6rem;
    line-height: 5.8rem;
  }
  .product__title p:nth-child(2) {
    margin-top: 1.6rem;
  }
  .product__content {
    margin-top: 10.6rem;
  }
  .product__content p {
    margin-right: 3.9rem;
    font-size: 2.6rem;
  }
  .product__content-ul .product__content-li p:first-of-type {
    margin-bottom: 1.6rem;
    font-size: 2.2rem;
    line-height: 2.6rem;
  }
  .product__content-ul .product__content-li p {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
  .product__img-2 .logo {
    width: 30.8rem;
    height: 7.4rem;
  }
  .product__descrip {
    justify-content: flex-start;
    margin-top: 7.5rem;
  }
  .product__descrip--img {
    width: 28.7rem;
    height: 28.7rem;
    background-size: 73%;
    position: relative;
    top: 0;
    left: 0;
    justify-content: flex-start;
    margin-right: 4rem;
  }
  .product__descrip--text {
    text-align: left;
    width: 60%;
    margin-top: 0rem;
  }
  .product .inner:last-child {
    align-items: center;
    padding-bottom: 16rem;
  }
  .marine .inner {
    padding: 8rem 0;
  }
  .marine__title p:nth-child(1) {
    font-size: 3.6rem;
    line-height: 5.8rem;
  }
  .marine__title p:nth-child(2) {
    margin-top: 1.6rem;
    line-height: 2.8rem;
  }
  .marine__btn span {
    height: 5rem;
    padding: 1.3rem 3.1rem;
    margin-right: 1.8rem;
    border-radius: 50px;
    font-size: 2rem;
    margin-bottom: 3.1rem;
  }
  .marine__btn {
    margin-top: 7.3rem;
    display: flex;
    flex-wrap: wrap;
  }
  .marine table.board-table {
    margin-top: 9rem;
    font-size: 1.8rem;
  }
  .marine .foot td {
    padding-top: 7.7rem;
  }
  .cs .inner {
    padding: 8rem 0;
  }
  .cs__title p:nth-child(1) {
    font-size: 3.6rem;
    line-height: 5.8rem;
  }
  .cs__title p:nth-child(2) {
    margin-top: 1.6rem;
  }
  .cs .form-elements__box label {
    font-size: 1.8rem;
  }
  .cs .connect__content-email {
    margin-top: 7.2rem;
  }
  .cs .form-elements__text {
    display: flex;
    flex-direction: column;
    width: 49%;
  }
  .cs .button-success {
    width: 24rem;
    height: 5.4rem;
    font-size: 2rem;
    margin-top: 3.9rem;
  }
  .faq .inner {
    padding: 8rem 0;
  }
  .faq__title p:nth-child(1) {
    font-size: 3.6rem;
    line-height: 5.8rem;
  }
  .faq__title p:nth-child(2) {
    margin-top: 1.6rem;
  }
  .faq table.board-table {
    margin-top: 3.6rem;
  }
  .information .inner {
    padding: 8rem 0;
  }
  .information__title span:nth-child(1) {
    font-size: 3.6rem;
    line-height: 5.8rem;
    margin-right: 10.2rem;
  }
  .information__title span:nth-child(2) {
    line-height: 2.8rem;
    width: 60%;
  }
  .information__logo {
    height: 19.7rem;
    margin-top: 6.4rem;
    background-size: 30%;
  }
  .information__p {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-top: 1.6rem;
  }
  .information__ci {
    height: 26.2rem;
    margin-top: 7.4rem;
  }
  .information__ci .ci-1 {
    width: 29.2rem;
    height: 16.8rem;
    margin-right: 7.5rem;
  }
  .information__ci .ci-2 {
    width: 34.1rem;
    height: 13.5rem;
  }
  .information-2 .inner {
    padding: 8rem 0 16rem 0;
  }
  .information-2__title p:nth-child(1) {
    font-size: 4.5rem;
  }
  .information-2__title p:nth-child(2) {
    line-height: 2.8rem;
    margin-top: 1.6rem;
  }
  .information-2__color-bg--1 {
    margin-top: 5.6rem;
  }
  .information-2__color-bg--3 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .information-2__color-bg--3 span {
    margin-top: 0.4rem;
  }
  .information-2__color-bg--4 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .information-2__color-bg--4 span {
    margin-top: 0.4rem;
  }
  .information__gallery .inner {
    padding: 8rem 0 16rem 0;
  }
  .information__gallery__title p:nth-child(1) {
    font-size: 3.6rem;
    line-height: 5.8rem;
  }
  .information__gallery__title p:nth-child(2) {
    margin-top: 1.6rem;
    line-height: 2.8rem;
  }
  .information__gallery .news__card-container {
    margin-top: 5.7rem;
  }
  .information__gallery .news__card-box {
    width: calc(50% - 0.8rem);
    margin-top: 1.5rem;
  }
  .information__gallery .news__card-box .news__black p:last-child {
    margin-top: 0.9rem;
  }
  .footer__br-576 {
    display: block;
  }
  .faq .inner {
    padding: 8rem 0;
  }
  .faq__title p:nth-child(1) {
    font-size: 3.6rem;
    line-height: 5.8rem;
  }
  .faq__title p:nth-child(2) {
    margin-top: 1.6rem;
  }
  .faq table.board-table {
    margin-top: 3.6rem;
  }
  .faq__write {
    height: 90rem;
    margin-top: 4rem;
  }
  .faq__list {
    width: 23rem;
    height: 5.4rem;
    margin-top: 3.9rem;
    align-self: flex-end;
  }
}
@media screen and (max-width: 576px) {
  .nav {
    height: 6.4rem;
  }
  .footer .inner,
.main .inner,
.main-2 .inner,
.main-3 .inner,
.about .inner,
.about-2 .inner,
.company .inner,
.map .inner,
.product .inner,
.marine .inner,
.cs .inner,
.faq .inner,
.information .inner,
.information-2 .inner,
.information__gallery .inner {
    max-width: calc(100% - 1.5rem);
    padding: 5.6rem 0 7rem 0;
  }
  .nav .inner {
    padding: 1.7rem 0;
  }
  .side__nav .inner {
    padding: 1.7rem 0;
  }
  .side__nav {
    overflow: auto;
  }
  .nav__logo {
    width: 11.1rem;
    height: 2.9rem;
  }
  .side__nav__logo {
    width: 11.1rem;
    height: 2.9rem;
  }
  .nav__menu-cls {
    width: 3rem;
    height: 3rem;
  }
  .nav__menu-btn {
    width: 3rem;
    height: 3rem;
  }
  .nav__menu-cls img {
    width: 3rem;
    height: 3rem;
  }
  .side__nav-list {
    margin-top: 0rem;
  }
  .side__nav-list--title {
    font-size: 3.2rem;
    margin-top: 4.5rem;
  }
  .side__nav-list--content {
    font-size: 1.6rem;
    margin-right: 3.5rem;
  }
  .side__nav-container {
    flex-direction: column;
  }
  .side__nav-address p {
    margin-top: 0.8rem;
  }
  .side__nav-address {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
  br.thin_none {
    display: none;
  }
  .copy {
    font-size: 1.5rem;
    padding-bottom: 6rem;
    padding-right: 1.7rem;
  }
  ul.slick-dots {
    display: none;
  }
  .main__title {
    font-size: 3.2rem;
  }
  .main__text {
    margin-top: 1.7rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    width: 70%;
  }
  .main__content {
    margin-top: 15.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .main-2__title {
    font-size: 3.2rem;
    line-height: 3.5rem;
  }
  .main-2__text {
    margin-top: 1.8rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    width: 80%;
  }
  .main-2__btn {
    width: 15rem;
    height: 4rem;
    font-size: 1.6rem;
    margin-top: 3.2rem;
  }
  .main-2 {
    background-image: url(/img/main-2-375.png);
  }
  .main-2__ani-1 {
    top: 30%;
    right: 0;
    width: 18.2rem;
    height: 18.2rem;
  }
  .main-2__ani-2 {
    width: 16.5rem;
    height: 16.5rem;
  }
  .main-3 .inner {
    padding-left: 0.7rem;
  }
  .main-3__title {
    font-size: 3.2rem;
    line-height: 3.5rem;
  }
  .main-3__text {
    margin-top: 1.8rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    width: 80%;
  }
  .main-3__btn {
    width: 15rem;
    height: 4rem;
    font-size: 1.6rem;
    margin-top: 3.2rem;
  }
  .footer .inner {
    padding: 3.6rem 0 2.3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer__logo {
    width: 16.6rem;
    height: 4rem;
  }
  .footer__btn {
    display: none;
  }
  .footer__content p {
    text-align: center;
    margin-top: 3.7rem;
    line-height: 2.4rem;
  }
  .subtitle__intro {
    background-image: url(/img/intro_bg-576.png);
  }
  .subtitle__intro .inner {
    justify-content: flex-end;
    padding-bottom: 3.6rem;
  }
  .subtitle__product {
    background-image: url(/img/product_bg-375.png);
  }
  .subtitle__marine {
    background-image: url(/img/marine__bg-576.png);
  }
  .subtitle__cs .inner {
    justify-content: flex-end;
    padding-bottom: 5.7rem;
  }
  .subtitle__information .inner {
    justify-content: flex-end;
    padding-bottom: 5.7rem;
  }
  .subtitle__title p:first-of-type {
    font-size: 3.2rem;
  }
  .subtitle__title p:last-of-type {
    font-size: 1.6rem;
    margin-top: 1.2rem;
  }
  .subtitle__btn {
    margin-top: 4.8rem;
  }
  .subtitle__btn button {
    line-height: 1.9rem;
    width: 100%;
    height: 4rem;
    font-size: 1.6rem;
    margin-top: 1rem;
  }
  .subtitle__btn {
    margin-top: 2.6rem;
  }
  .about__title {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .about__card {
    margin-top: 3.1rem;
    flex-direction: column;
  }
  .about__card .card {
    width: 100%;
    text-align: left;
    padding: 4.2rem 2.4rem;
    margin-bottom: 2.4rem;
  }
  .about__card .card03 {
    margin-top: 0;
  }
  .about__card .card04 {
    margin-top: 0;
  }
  .about__card .card__title {
    font-size: 2.2rem;
  }
  .about__card .card__subtitle {
    font-size: 1.6rem;
    line-height: 3.7rem;
    margin-top: 1.8rem;
  }
  .about__card .card__subtitle {
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin-top: 0.8rem;
  }
  .about__card .card__content {
    font-size: 1.6rem;
    margin-top: 4.8rem;
  }
  .about-2__title p:first-of-type {
    font-size: 2.2rem;
    line-height: 3.2rem;
  }
  .about-2__title p:last-of-type {
    margin-top: 2.4rem;
    line-height: 2.4rem;
  }
  .about-2 .inner {
    padding: 19rem 0 0 0;
  }
  .about-2__content .inner {
    padding: 4.3rem 0 7.5rem 0;
  }
  .about-2__content .card {
    width: 100%;
  }
  .about-2__content .card:nth-of-type(1) .card-icon {
    width: 5.1rem;
    height: 5.1rem;
    margin-bottom: 3.2rem;
  }
  .about-2__content .card:nth-of-type(2) .card-icon {
    width: 5.1rem;
    height: 5.5rem;
    margin-bottom: 3.2rem;
  }
  .about-2__content .card:nth-of-type(3) .card-icon {
    width: 4.3rem;
    height: 5.8rem;
    margin-bottom: 3.2rem;
  }
  .about-2__content .card:nth-of-type(4) .card-icon {
    width: 4.4rem;
    height: 5.5rem;
    margin-bottom: 3.2rem;
  }
  .about-2__content .card p:first-of-type {
    font-size: 2.2rem;
  }
  .about-2__content .card span {
    margin-top: 0.8rem;
    font-size: 1.6rem;
  }
  .about-2__content .card p:last-of-type {
    font-size: 1.6rem;
    margin-top: 3.2rem;
    line-height: 2.4rem;
    margin-bottom: 6.5rem;
  }
  .company__title p:nth-child(1) {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .company__title p:nth-child(2) {
    font-size: 1.6rem;
    margin-top: 1.5rem;
    line-height: 2.4rem;
  }
  .company__img {
    height: 31.8rem;
    margin-top: 3rem;
    background-image: url(/img/company__img-576.png);
  }
  .company__history {
    display: none;
  }
  .entries {
    width: 100%;
    margin: auto;
    position: relative;
    left: 0;
  }
  .entries .entry {
    width: 90%;
    padding: 20px;
    clear: both;
    text-align: left;
    padding-top: 50px;
  }
  .entries .entry:nth-child(2n) {
    text-align: left;
    float: right;
  }
  .entries:before {
    content: "";
    top: 0px;
    left: 7%;
    bottom: 0px;
    position: absolute;
    transform: translateX(-50%);
    width: 1px;
    background-color: rgba(43, 77, 132, 0.931);
  }
  .entries .entry .title:before {
    content: "";
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #2b4d84;
    border-radius: 100%;
    top: 50%;
    transform: translate(-37px, -50%);
    z-index: 1;
  }
  .entries .entry:nth-child(2n) .title.big:before {
    transform: translate(-37px, -50%);
  }
  .entries .entry .title.big {
    text-align: left;
  }
  .entries .entry .title {
    font-size: 2.2rem;
    line-height: 5.5rem;
    margin-bottom: 1.4rem;
  }
  .product__title p:nth-child(1) {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .product__title p:nth-child(2) {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .product__img {
    margin-top: 2.8rem;
    height: 14.4rem;
  }
  .product__content {
    margin-top: 4.8rem;
  }
  .product__content {
    margin-top: 3.5rem;
    flex-direction: column;
  }
  .product__content p {
    margin-right: 0rem;
    font-size: 3.5rem;
    text-align: left;
  }
  .product__content-ul .product__content-li p:first-of-type {
    margin-top: 3.5rem;
    font-size: 1.8rem;
  }
  .product__content-ul .product__content-li p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .product__img-2 {
    height: 31.3rem;
  }
  .product__img-2 .logo {
    width: 21.2rem;
    height: 5.1rem;
  }
  .product__descrip {
    flex-direction: column;
  }
  .product__descrip--img {
    width: 100%;
    margin-right: 0rem;
  }
  .product__descrip {
    margin-top: 2.1rem;
  }
  .product__descrip--text p:first-child {
    font-size: 2rem;
    margin-top: 3.2rem;
  }
  .product__descrip--text p {
    line-height: 2.4rem;
    margin-top: 2.4rem;
  }
  .product__descrip--text {
    width: 100%;
  }
  .marine__title p:nth-child(1) {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .marine__title p:nth-child(2) {
    line-height: 2.4rem;
  }
  .marine__btn span {
    height: 4.1rem;
    padding: 1rem 2.4rem;
    margin-right: 0.7rem;
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
    line-height: 2rem;
  }
  .marine__btn {
    margin-top: 3.6rem;
  }
  .marine table.board-table {
    margin-top: 4rem;
    font-size: 1.8rem;
    overflow-x: scroll;
    width: 60rem;
  }
  .marine #board-list {
    width: 100%;
    overflow-x: scroll;
  }
  .cs__title p:nth-child(1) {
    font-size: 2.4rem;
  }
  .cs__title p:nth-child(2) {
    line-height: 2.4rem;
  }
  .cs .connect__content-email {
    margin-top: 3.2rem;
  }
  .cs .form-elements__box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0rem;
    flex-direction: column;
  }
  .cs .form-elements__text {
    width: 100%;
    margin-bottom: 2.4rem;
  }
  .cs .form-elements__text-long {
    margin-top: 2.4rem;
  }
  .cs .button-success {
    width: 16.6rem;
    height: 5rem;
    font-size: 1.8rem;
    margin-top: 3.2rem;
    font-weight: 800;
  }
  .cs .form-elements__box label {
    font-size: 1.6rem;
  }
  .cs .contact_form input {
    margin-top: 1.6rem;
  }
  .cs textarea {
    margin-top: 1.6rem;
  }
  .faq__title p:nth-child(1) {
    font-size: 2.4rem;
    line-height: 5.8rem;
  }
  .faq__title p:nth-child(2) {
    line-height: 2.4rem;
  }
  .faq .board-table tbody td {
    display: none;
  }
  .faq .board-table .th-num,
.faq .board-table .th-date {
    display: none;
  }
  .faq table.board-table {
    margin-top: 4rem;
  }
  .faq hr {
    height: 2px;
    margin-top: 1.8rem;
  }
  .faq__list {
    width: 16.6rem;
    height: 5rem;
    margin-top: 3.2rem;
    align-self: flex-end;
    font-family: "Pretendard";
  }
}
@media screen and (max-width: 576px) {
  .side__nav-list--title {
    font-size: 3.2rem;
    margin-top: 3.6rem;
  }
  .side__nav-list--content {
    font-size: 1.6rem;
    margin-right: 2rem;
  }
  .side__nav-address {
    font-size: 1.5rem;
    line-height: 2.4rem;
    margin-top: 3.9rem;
    position: absolute;
    bottom: 0;
    padding-bottom: 5.5rem;
  }
  .copy {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-right: 1.7rem;
  }
}/*# sourceMappingURL=cs-faq-list.css.map */