@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
@font-face {
  font-family: "KOHIBaeumOTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  word-wrap: break-word;
  word-break: keep-all;
  text-align: center;
  overflow-x: hidden;
}

body {
  position: relative;
  color: #272727;
  margin: 0;
  font-family: "Pretendard";
  font-size: 1.6rem;
}

.inner {
  margin: 0 auto;
  height: auto;
}

.intro,
.tech,
.product,
.story,
.news,
.notice,
.facility,
.contact {
  height: 50rem;
  background-size: cover;
  background-position: center;
}
.intro .inner,
.tech .inner,
.product .inner,
.story .inner,
.news .inner,
.notice .inner,
.facility .inner,
.contact .inner {
  max-width: calc(100% - 13.6rem);
  padding: 9.7rem 0 20.8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub__title {
  color: white;
}

.sub__top {
  font-size: 5.4rem;
  line-height: 6.4rem;
  font-weight: 700;
}

.sub__bottom {
  font-size: 1.8rem;
  line-height: 2.1rem;
  margin-top: 3rem;
}

.sub__detail-1 .inner,
.sub__detail-2 .inner,
.sub__detail-3 .inner,
.sub__detail-4 .inner {
  max-width: calc(100% - 62rem);
  padding: 8rem 0 10.5rem 0;
}

.sub__detail-1,
.sub__detail-2 {
  background-color: white;
}

.sub__detail-3 {
  background-color: #f6f6f6;
}

.sub__detail-4 {
  background-color: #f8f8f8;
}

.sub__detail-title {
  text-align: left;
}
.sub__detail-title::before {
  content: "";
  width: 3.7rem;
  height: 0.5rem;
  background-color: #074999;
  display: inline-block;
}
.sub__detail-title--top {
  font-size: 3.6rem;
  line-height: 4.2rem;
  font-weight: 700;
  margin-top: 1.8rem;
}
.sub__detail-title--bottom {
  font-size: 1.8rem;
  line-height: 2.1rem;
  margin-top: 1.5rem;
}

.nav {
  position: fixed;
  width: 100%;
  height: 8rem;
  color: white;
  background-color: transparent;
  z-index: 999;
}
.nav .inner {
  max-width: calc(100% - 13.6rem);
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  width: 25rem;
  height: 4.2rem;
  background-image: url(/img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.nav__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav__menu a {
  color: white;
}
.nav__menu a li {
  margin-right: 4rem;
  line-height: 2.1rem;
  font-size: 1.8rem;
  list-style-type: none;
}
.nav__menu a:last-child {
  margin-right: 0;
}
.nav .dropdown__menu {
  margin-right: 4rem;
  line-height: 2.1rem;
  font-size: 1.8rem;
  cursor: pointer;
  list-style-type: none;
}
.nav .dropdown {
  color: white;
  background-color: transparent;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  left: 0;
  top: 8rem;
  height: 5rem;
  width: 100%;
  display: none;
  padding-right: 14rem;
}
.nav .dropdown a {
  font-size: 1.8rem;
  line-height: 2.1rem;
}
.nav .flex__box {
  display: flex;
}

.nav__mobile,
.mobile_black {
  display: none;
}

.hidden__section-top {
  height: 8rem;
}

.main {
  max-width: 192rem;
  height: 100vh;
  background-image: url(/img/main.png);
  background-size: cover;
  background-position: center;
  padding-bottom: 56.25%;
}
.main .inner {
  max-width: calc(100% - 13.6rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__content {
  margin-top: 15.6rem;
}
.main__title {
  font-family: "KOHIBaeumOTF";
  color: white;
  font-size: 5.4rem;
  line-height: 6rem;
}
.main__text {
  margin-top: 3.7rem;
  color: white;
  font-size: 2.4rem;
  line-height: 3.8rem;
}

.footer {
  width: 100vw;
  height: 100%;
  background-color: #074999;
  font-size: 1.5rem;
  text-align: right;
  font-weight: 100;
}
.footer .inner {
  max-width: calc(100% - 13.6rem);
  padding: 5.9rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__logo {
  width: 25rem;
  height: 4.2rem;
  background-image: url(/img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.footer p {
  color: white;
  margin-top: 1.6rem;
}
.footer p a {
  text-decoration: none;
  color: white;
}
.footer .footer__br {
  display: none;
}

.notice {
  background-image: url(/img/notice_bg.png);
}

table.board-table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 9rem;
  font-size: 1.8rem;
  width: 100%;
  border-top: 0.1rem solid #707070;
}

.board-table a {
  color: #333;
  display: inline-block;
  line-height: 3rem;
  word-break: break-all;
  vertical-align: middle;
}

.board-table thead {
  font-weight: 700;
}
.board-table thead th {
  padding: 1.4rem 0;
}

.board-table a:hover {
  text-decoration: underline;
}

.board-table th {
  text-align: center;
}

.board-table .th-num {
  width: 10rem;
  text-align: center;
}

.board-table .th-date {
  width: 20rem;
}

.board-table th,
.board-table td {
  padding: 2.3rem 0;
}

.board-table tbody {
  border-bottom: 0.1rem solid #707070;
}

.board-table tbody td {
  border-top: 0.1rem solid #707070;
  color: #8b8b8b;
  font-weight: 400;
  text-align: center;
}

.board-table tbody th {
  padding-left: 2.8rem;
  padding-right: 1.4rem;
  border-top: 0.1rem solid #707070;
  text-align: left;
}

.board-table tbody th p {
  display: none;
}

.foot {
  font-size: 2rem;
}
.foot td {
  padding-top: 9rem;
  width: 100%;
  text-align: center;
}
.foot a {
  margin-right: 3.2rem;
  text-decoration: none;
  color: #9e9e9e;
  font-weight: 500;
}
.foot a.txt_point {
  color: #074999;
}
.foot .arrow {
  color: #9e9e9e;
}

.notice__detail {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.notice__detail-title--top {
  font-size: 3.6rem;
  line-height: 4.2rem;
  font-weight: 700;
}
.notice__detail-title--bottom {
  font-size: 1.8rem;
  margin-top: 1.5rem;
  color: #7b7b7b;
}
.notice__detail hr {
  margin-top: 3.8rem;
}
.notice__detail-text {
  width: 100%;
  height: 67.9rem;
  border: 1px solid black;
  margin-top: 5.4rem;
}
.notice__detail a {
  align-self: flex-end;
}
.notice__detail-btn {
  cursor: pointer;
  background-color: #074999;
  width: 20.8rem;
  height: 5.8rem;
  color: white;
  border: none;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-top: 7rem;
  align-self: flex-end;
}

@media screen and (max-width: 1450px) {
  .intro .inner,
.tech .inner,
.product .inner,
.story .inner,
.news .inner,
.notice .inner,
.facility .inner,
.contact .inner {
    max-width: calc(100% - 4rem);
  }
  .sub__detail-1 .inner,
.sub__detail-2 .inner,
.sub__detail-3 .inner,
.sub__detail-4 .inner {
    max-width: calc(100% - 4rem);
    padding: 6rem 0 8rem 0;
  }
}
@media screen and (max-width: 1250px) {
  .intro,
.tech,
.product,
.story,
.news,
.notice,
.facility,
.contact {
    height: 38.5rem;
  }
  .intro .inner,
.tech .inner,
.product .inner,
.story .inner,
.news .inner,
.notice .inner,
.facility .inner,
.contact .inner {
    max-width: calc(100% - 2.2rem);
    padding: 6rem 0 8rem 0;
  }
  .sub__top {
    font-size: 3.8rem;
    line-height: 4.5rem;
  }
  .sub__bottom {
    font-size: 2.2rem;
    line-height: 2.6rem;
    margin-top: 1.2rem;
    font-weight: 100;
  }
  .sub__detail-1 .inner,
.sub__detail-2 .inner,
.sub__detail-3 .inner,
.sub__detail-4 .inner {
    max-width: calc(100% - 2.2rem);
    padding: 6rem 0 8rem 0;
  }
  .sub__detail-title--bottom {
    line-height: 2.8rem;
  }
  .nav {
    display: none;
  }
  .nav__mobile {
    position: fixed;
    display: flex;
    background-color: transparent;
    width: 100%;
    z-index: 999;
  }
  .nav__mobile .inner {
    width: calc(100% - 2.2rem);
    padding: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .nav__logo-mobile {
    background-image: url(/img/logo.png);
    width: 24.2rem;
    height: 4rem;
    background-size: cover;
    background-position: center;
  }
  .nav__btn-mobile {
    display: flex;
    background-image: url(/img/nav_btn-wht.png);
    width: 7rem;
    height: 7rem;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  .close_btn {
    display: flex;
    background-image: url(/img/close_btn.png);
    width: 7rem;
    height: 7rem;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    align-self: flex-end;
  }
  .nav__menu-mobile {
    display: none;
    flex-direction: column;
    width: 70%;
    height: 100vh;
    background-color: white;
    z-index: 9999;
    position: absolute;
    right: 0;
    top: 0;
    padding: 2rem 2rem 0 9.4rem;
  }
  .nav__menu-mobile a {
    color: #272727;
    font-size: 3.2rem;
    line-height: 3.8rem;
    text-align: left;
    font-weight: 600;
  }
  .nav__menu-mobile a li {
    margin-top: 5.2rem;
  }
  .indent_menu {
    text-indent: 3.8rem;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 3.3rem;
  }
  .mobile_black {
    width: 100%;
    height: 100vh;
    background-color: rgba(39, 39, 39, 0.84);
    position: absolute;
    left: 0;
    top: 0;
  }
  .footer .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .footer .footer__br {
    display: block;
  }
  .footer__text {
    margin-top: 6.4rem;
  }
  .footer__text p {
    font-size: 1.6rem;
    font-weight: 100;
  }
  .footer__text p:nth-child(1) {
    line-height: 2.8rem;
    margin-top: 0;
  }
  table.board-table {
    margin-top: 6.5rem;
  }
  .board-table .th-num {
    display: none;
  }
  .board-table .th-date {
    display: none;
  }
  .board-table tbody td {
    display: none;
  }
  .notice__detail-btn {
    width: 25.2rem;
    height: 6.8rem;
    font-size: 2rem;
    line-height: 2.4rem;
  }
}
@media screen and (max-width: 576px) {
  .nav__mobile {
    position: fixed;
    display: flex;
  }
  .nav__logo-mobile {
    width: 19rem;
    height: 3.2rem;
  }
  .nav__btn-mobile {
    width: 6rem;
    height: 6rem;
  }
  .hidden__section-top {
    height: 6rem;
  }
  .nav__menu-mobile {
    justify-content: space-between;
    width: 80%;
    padding: 2rem 2rem 8rem 8rem;
  }
  .nav__menu-mobile a {
    font-size: 2.8rem;
  }
  .nav__menu-mobile a li {
    margin-top: 0rem;
  }
  .footer .inner {
    max-width: calc(100% - 2rem);
  }
  .footer__text p {
    line-height: 3rem;
    margin-top: 0;
  }
  .intro .inner,
.tech .inner,
.product .inner,
.story .inner,
.news .inner,
.notice .inner,
.facility .inner,
.contact .inner {
    padding: 6rem 0 7rem 0;
  }
  .sub__detail-1 .inner,
.sub__detail-2 .inner,
.sub__detail-3 .inner,
.sub__detail-4 .inner {
    padding: 6rem 0 7rem 0;
  }
  table.board-table {
    margin-top: 4.8rem;
  }
  .notice__detail-title--top {
    font-size: 2.4rem;
  }
  .notice__detail-title--bottom {
    font-size: 1.8rem;
    margin-top: 1.7rem;
  }
  .notice__detail hr {
    margin-top: 4rem;
  }
  .notice__detail-text {
    margin-top: 4.5rem;
  }
  .notice__detail-btn {
    width: 23rem;
    height: 6rem;
    font-size: 2rem;
  }
}
@media screen and (max-width: 430px) {
  html {
    font-size: 60%;
  }
  .close_btn {
    margin-bottom: -50px;
  }
}/*# sourceMappingURL=notice__detail.css.map */