@import url(./reset.css);
// @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

@font-face {
  font-family: "KOHIBaeumOTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
$main__font-family: "Pretendard";
$main__point-color: #272727;
$main__font-color: #272727;

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
  word-wrap: break-word;
  word-break: keep-all;
  text-align: center;
  overflow-x: hidden;
  // font-family: "Pretendard";
}
body {
  position: relative;
  color: $main__font-color;
  font: {
    family: $main__font-family;
    size: 1.6rem;
  }
}
.inner {
  margin: 0 auto;
  height: auto;
}
// sub design start
.side__nav,
.nav,
.footer,
.main,
.main-2,
.main-3 {
  // height: 50rem;
  background-size: cover;
  background-position: center;
  .inner {
    max-width: calc(100% - 62rem);
    padding: 9.7rem 0 20.8rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// nav start
.nav {
  // overflow: hidden;
  position: fixed;
  width: 100%;
  height: 8rem;
  color: white;
  background-color: transparent;
  z-index: 999;
  .inner {
    padding: 1.5rem 0;
    justify-content: space-between;
  }
  &__logo {
    width: 25rem;
    height: 4.2rem;
    background-image: url(/img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
      // color: $main__font-color;
      color: white;
      li {
        margin-right: 7rem;
        line-height: 2.1rem;
        font-size: 1.8rem;
      }
      &:last-child {
        margin-right: 0;
        // &:hover .dropdown {
        //   display: flex;
        // }
      }
    }
  }
}
.nav__menu-btn {
  width: 5rem;
  height: 5rem;
  background-image: url(/img/menu_btn.png);
  background-size: cover;
}

.side__nav {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #1c1c1c;
  z-index: 999;
  .inner {
    padding: 1.5rem 0;
    justify-content: space-between;
  }
  &__logo {
    width: 25rem;
    height: 4.2rem;
    background-image: url(/img/logo_color.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &-container {
    max-width: calc(100% - 84rem);
    margin: auto;
    display: flex;
    text-align: left;
    justify-content: space-between;
  }
  &-list {
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    color: #565656;
    a {
      color: #565656;
    }
    &--title {
      font-size: 4.8rem;
      font-weight: 700;
      margin-top: 5.6rem;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
    }
    &--box {
      display: flex;
      margin-top: 1.6rem;
    }
    &--content {
      font-size: 2rem;
      margin-right: 1.6rem;
      font-weight: 200;
      text-indent: 2rem;
      &::before {
        content: "";
        width: 0.8rem;
        height: 0.8rem;
        background-color: #2b4d84;
        border-radius: 100%;
        display: inline-flex;
        margin-right: 1.2rem;
      }
    }
  }
  &-address {
    font-size: 1.8rem;
    color: white;
    text-align: right;
    line-height: 2.8rem;
    align-self: flex-end;
    p {
      margin-top: 2.4rem;
    }
    .thin_text {
      font-weight: 200;
    }
  }
}
.copy {
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 7rem;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
}
.nav__menu-cls {
  width: 5rem;
  height: 5rem;
  img {
    width: 5rem;
    height: 5rem;
  }
}

// nav end

// main start
.hidden__section-top {
  height: 8rem;
}

.main-2 {
  background-image: url(/img/main-2.png);
}
.video_container {
  z-index: -1;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.main {
  width: 100vw;
  height: 100vh;
  &__slider {
    .single-item-1 {
      background-size: cover;
      background-position: center;
      // padding-bottom: calc(1080 / 1920 * 100%);
      background-repeat: no-repeat;
      background-position: center;
      width: 100vw;
      height: 100vh;
      background-image: url(/img/main.png);
    }
    .single-item-2 {
      background-size: cover;
      background-position: center;
      // padding-bottom: calc(1080 / 1920 * 100%);
      background-repeat: no-repeat;
      background-position: center;
      width: 100vw;
      height: 100vh;
      background-image: url(/img/main-1-2.png);
    }
    .single-item-3 {
      background-size: cover;
      background-position: center;
      // padding-bottom: calc(1080 / 1920 * 100%);
      background-repeat: no-repeat;
      background-position: center;
      width: 100vw;
      height: 100vh;
      background-image: url(/img/main-1-3.png);
    }
  }
  &__content {
    margin-top: 16em;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  &__title {
    font-family: "KOHIBaeumOTF";
    color: white;
    font-size: 5.4rem;
    line-height: 6rem;
  }
  &__text {
    margin-top: 3.7rem;
    color: white;
    font-size: 2.4rem;
    line-height: 3.8rem;
  }
}
ul.slick-dots {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 6%;
  justify-content: space-between;
  align-items: center;
  li {
    &:before {
      content: "";
      width: 0.8rem;
      height: 0.8rem;
      background-color: white;
      display: inline-flex;
      border-radius: 50%;
      border: none;
    }
  }
  li.slick-active {
    &:before {
      width: 1.8rem;
      height: 1.8rem;
      border: 2px solid white;
      background: none;
    }
  }
  button {
    display: none;
  }
}

.main-2 {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-bottom: calc(1080 / 1920 * 100%);
  background-repeat: no-repeat;
  .inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__content {
    // margin-top: 15.6rem;
    width: 100%;
    z-index: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-family: "KOHIBaeumOTF";
    color: $main__font-color;
    font-size: 4rem;
    line-height: 4.4rem;
  }
  &__text {
    margin-top: 2.1rem;
    color: $main__font-color;
    font-size: 2rem;
    line-height: 3.8rem;
  }
  &__btn {
    width: 17.2rem;
    height: 4.8rem;
    border: 1px solid $main__font-color;
    font-size: 1.8rem;
    margin-top: 4.2rem;
  }
}
.main-3 {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-bottom: calc(1080 / 1920 * 100%);
  background-repeat: no-repeat;
  .inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: 60rem;
  }
  &__content {
    z-index: 1;
    // margin-top: 15.6rem;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-family: "KOHIBaeumOTF";
    color: white;
    font-size: 4rem;
    line-height: 4.4rem;
  }
  &__text {
    margin-top: 2.1rem;
    color: white;
    font-size: 2rem;
    line-height: 3.8rem;
  }
  a {
    z-index: 1;
  }
  &__btn {
    width: 17.2rem;
    height: 4.8rem;
    color: white;
    border: 1px solid white;
    background: none;
    font-size: 1.8rem;
    margin-top: 4.2rem;
  }
}

// main end
// footer start
.footer {
  width: 100vw;
  height: 100%;
  background-color: $main__point-color;
  font-size: 1.5rem;
  text-align: right;
  font-weight: 100;
  .inner {
    // max-width: calc(100% - 31rem);
    padding: 5.9rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    width: 25rem;
    height: 4.2rem;
    background-image: url(/img/logo_color.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  p {
    color: white;
    margin-top: 1.6rem;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .footer__br {
    display: none;
  }
}
// footer end
