@import url(./reset.css);
// @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

@font-face {
  font-family: "KOHIBaeumOTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$main__font-family: "Pretendard";
$sub__font-family: "GmarketSansMedium";
$main__point-color: #272727;
$main__font-color: #272727;

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
  word-wrap: break-word;
  word-break: keep-all;
  text-align: center;
  overflow-x: hidden;
  // font-family: "Pretendard";
}
body {
  position: relative;
  color: $main__font-color;
  z-index: 0;
  font: {
    family: $main__font-family;
    size: 1.6rem;
  }
}
button {
  cursor: pointer;
}
.inner {
  margin: 0 auto;
  height: auto;
}
// sub design start
.side__nav,
.nav,
.footer,
.main,
.main-2,
.main-3,
.about,
.about-2,
.company,
.map,
.product,
.marine,
.cs {
  // height: 50rem;
  background-size: cover;
  background-position: center;
  .inner {
    max-width: calc(100% - 62rem);
    padding: 9.7rem 0 20.8rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// nav start
.nav {
  // overflow: hidden;
  position: fixed;
  width: 100%;
  height: 8rem;
  color: white;
  background-color: transparent;
  z-index: 999;
  .inner {
    padding: 1.5rem 0;
    justify-content: space-between;
  }
  &__logo {
    width: 17rem;
    height: 4.2rem;
    background-image: url(/img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
      // color: $main__font-color;
      color: white;
      li {
        margin-right: 7rem;
        line-height: 2.1rem;
        font-size: 1.8rem;
      }
      &:last-child {
        margin-right: 0;
        // &:hover .dropdown {
        //   display: flex;
        // }
      }
    }
  }
}
.nav__menu-btn {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  background-image: url(/img/menu_btn.png);
  background-size: cover;
}

.side__nav {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #1c1c1c;
  z-index: 999;
  .inner {
    padding: 1.5rem 0;
    justify-content: space-between;
  }
  &__logo {
    width: 17rem;
    height: 4.2rem;
    background-image: url(/img/logo_color.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &-container {
    max-width: calc(100% - 84rem);
    margin: auto;
    display: flex;
    text-align: left;
    justify-content: space-between;
  }
  &-list {
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    color: #565656;
    a {
      color: #565656;
    }
    &--title {
      font-size: 4.8rem;
      font-weight: 700;
      margin-top: 5.6rem;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      &:hover a {
        color: white;
        transition: all 1s;
      }
      &:hover,
      &:hover .side__nav-list--content a {
        color: white;
        cursor: pointer;
        transition: all 1s;
      }
      &:hover .side__nav-list--content {
        &:before {
          background-color: #2b4d84;
          transition: all 1s;
        }
      }
    }
    &--box {
      display: flex;
      margin-top: 1.6rem;
    }
    &--content {
      font-size: 2rem;
      margin-right: 1.6rem;
      font-weight: 200;
      text-indent: 2rem;
      &::before {
        content: "";
        width: 0.8rem;
        height: 0.8rem;
        background-color: #565656;
        border-radius: 100%;
        display: inline-flex;
        margin-right: 1.2rem;
      }
    }
  }
  &-address {
    font-size: 1.8rem;
    color: white;
    text-align: right;
    line-height: 2.8rem;
    align-self: flex-end;
    p {
      margin-top: 2.4rem;
    }
    .thin_text {
      font-weight: 200;
    }
  }
}
.copy {
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 7rem;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
}
.nav__menu-cls {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  img {
    width: 5rem;
    height: 5rem;
  }
}

// nav end

// main start
.hidden__section-top {
  height: 8rem;
}

.main-2 {
  background-image: url(/img/main-2.png);
}
.video_container {
  z-index: -1;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.main {
  width: 100vw;
  height: 100vh;
  &__slider {
    .single-item-1 {
      background-size: cover;
      background-position: center;
      // padding-bottom: calc(1080 / 1920 * 100%);
      background-repeat: no-repeat;
      background-position: center;
      width: 100vw;
      height: 100vh;
      background-image: url(/img/main.png);
    }
    .single-item-2 {
      background-size: cover;
      background-position: center;
      // padding-bottom: calc(1080 / 1920 * 100%);
      background-repeat: no-repeat;
      background-position: center;
      width: 100vw;
      height: 100vh;
      background-image: url(/img/main-1-2.png);
    }
    .single-item-3 {
      background-size: cover;
      background-position: center;
      // padding-bottom: calc(1080 / 1920 * 100%);
      background-repeat: no-repeat;
      background-position: center;
      width: 100vw;
      height: 100vh;
      background-image: url(/img/main-1-3.png);
    }
  }
  &__content {
    margin-top: 16em;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  &__title {
    font-family: "KOHIBaeumOTF";
    color: white;
    font-size: 5.4rem;
    line-height: 6rem;
  }
  &__text {
    margin-top: 3.7rem;
    color: white;
    font-size: 2.4rem;
    line-height: 3.8rem;
  }
}
ul.slick-dots {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 6%;
  justify-content: space-between;
  align-items: center;
  li {
    &:before {
      content: "";
      width: 0.8rem;
      height: 0.8rem;
      background-color: white;
      display: inline-flex;
      border-radius: 50%;
      border: none;
    }
  }
  li.slick-active {
    &:before {
      width: 1.8rem;
      height: 1.8rem;
      border: 2px solid white;
      background: none;
    }
  }
  button {
    display: none;
  }
}

.main-2 {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-bottom: calc(1080 / 1920 * 100%);
  background-repeat: no-repeat;
  .inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__content {
    // margin-top: 15.6rem;
    width: 100%;
    z-index: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-family: "KOHIBaeumOTF";
    color: $main__font-color;
    font-size: 4rem;
    line-height: 4.4rem;
  }
  &__text {
    margin-top: 2.1rem;
    color: $main__font-color;
    font-size: 2rem;
    line-height: 3.8rem;
  }
  &__btn {
    width: 17.2rem;
    height: 4.8rem;
    border: 1px solid $main__font-color;
    font-size: 1.8rem;
    margin-top: 4.2rem;
  }
}
.main-3 {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-bottom: calc(1080 / 1920 * 100%);
  background-repeat: no-repeat;
  iframe {
    z-index: -1;
  }
  .inner {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: 60rem;
  }
  &__content {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-family: "KOHIBaeumOTF";
    color: white;
    font-size: 4rem;
    line-height: 4.4rem;
  }
  &__text {
    margin-top: 2.1rem;
    color: white;
    font-size: 2rem;
    line-height: 3.8rem;
  }
  &__btn {
    width: 17.2rem;
    height: 4.8rem;
    color: white;
    border: 1px solid white;
    background: none;
    font-size: 1.8rem;
    margin-top: 4.2rem;
  }
}

// main end
// footer start
.footer {
  width: 100vw;
  height: 100%;
  background-color: $main__point-color;
  font-size: 1.5rem;
  text-align: right;
  font-weight: 100;
  .inner {
    // max-width: calc(100% - 31rem);
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }
  &__logo {
    width: 17rem;
    height: 4.2rem;
    background-image: url(/img/logo_color.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3.4rem;
    p {
      color: #cccccc;
      font-size: 1.6rem;
      font-weight: 200;
      line-height: 1.9rem;
      text-align: left;
      margin-top: 2.4rem;
    }
  }
  .footer__br {
    // display: none;
  }
  &__btn {
    display: flex;
    align-items: flex-end;
    a {
      font-size: 1.6rem;
      line-height: 1.9rem;
    }
    button {
      font-family: $main__font-family;
      color: #c8c8c8;
      width: 14.8rem;
      height: 3.9rem;
      border: 1px solid #707070;
      background: none;
    }
    .footer__btn-1 {
      margin-right: 1.4rem;
    }
  }
}
// footer end

// subtitle start
.subtitle {
  &__intro {
    width: 100vw;
    height: 50rem;
    background-image: url(/img/intro_bg.png);
    background-size: cover;
    background-position: center;
    .inner {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__product {
    width: 100vw;
    height: 50rem;
    background-image: url(/img/product_bg.png);
    background-size: cover;
    background-position: center;
    .inner {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__marine {
    width: 100vw;
    height: 50rem;
    background-image: url(/img/marine__bg.png);
    background-size: cover;
    background-position: center;
    .inner {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__cs {
    width: 100vw;
    height: 50rem;
    background-image: url(/img/cs_bg.png);
    background-size: cover;
    background-position: center;
    .inner {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__title {
    p {
      &:first-of-type {
        font-size: 5.4rem;
        font-weight: 600;
        color: white;
      }
      &:last-of-type {
        font-size: 2.2rem;
        color: white;
        font-weight: 200;
        margin-top: 2.2rem;
      }
    }
  }
  &__btn {
    margin-top: 6.5rem;
    button {
      color: white;
      line-height: 3.6rem;
      width: 11.6rem;
      height: 3.8rem;
      background: none;
      border: 1px solid white;
      border-radius: 3.1rem;
      margin-right: 2.6rem;
    }
    .active__btn {
      color: #363636;
      background-color: white;
    }
  }
}

// subtitle end

// about start
.about {
  .inner {
    padding: 11rem 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  hr {
    width: 100vw;
    color: #cfcfcf;
    position: absolute;
    z-index: -1;
    left: 0;
  }
  &__title {
    font-size: 4rem;
    line-height: 6.3rem;
    text-align: left;
    color: #373737;
    font-weight: 800;
  }
  &__card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 25.9rem;
    .card {
      &__title {
        font-family: $sub__font-family;
        font-size: 2.2rem;
        font-weight: 800;
      }
      &__subtitle {
        font-size: 1.6rem;
        line-height: 2.8rem;
        font-weight: 300;
        margin-top: 5.5rem;
      }
      &__content {
        font-size: 1.6rem;
        line-height: 2.8rem;
        margin-top: 6rem;
      }
    }
  }
}
.about-2 {
  background-image: url(/img/about_bg.png);
  background-attachment: fixed;
  background-position: top;
  width: 100vw;
  height: 100%;
  .inner {
    padding: 16rem 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    // justify-content: flex-end;
  }
  &__title {
    text-align: right;
    color: white;
    align-self: flex-end;
    p {
      &:first-of-type {
        font-size: 4rem;
        line-height: 5.8rem;
        font-weight: 800;
      }
      &:last-of-type {
        margin-top: 3.4rem;
        font-size: 1.8rem;
        line-height: 4rem;
      }
    }
  }
  &__content {
    background-color: white;
    width: 100vw;
    height: 100%;
    margin-top: 7.3rem;
    .inner {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .card {
      width: calc(100% / 2);
      text-align: left;
      &:nth-of-type(1) {
        .card-icon {
          background-image: url(/img/about-icon-1.png);
          width: 5.1rem;
          height: 5.1rem;
          background-size: cover;
          margin-bottom: 3rem;
        }
      }
      &:nth-of-type(2) {
        .card-icon {
          background-image: url(/img/about-icon-2.png);
          width: 5.1rem;
          height: 5.5rem;
          background-size: cover;
          margin-bottom: 3rem;
        }
      }
      &:nth-of-type(3) {
        .card-icon {
          background-image: url(/img/about-icon-3.png);
          width: 4.3rem;
          height: 5.8rem;
          background-size: cover;
          margin-bottom: 3rem;
        }
      }
      &:nth-of-type(4) {
        .card-icon {
          background-image: url(/img/about-icon-4.png);
          width: 4.5rem;
          height: 5.5rem;
          background-size: cover;
          margin-bottom: 3rem;
        }
      }
      p {
        margin-bottom: 3.6rem;
        &:first-of-type {
          font-size: 2.2rem;
          font-family: $sub__font-family;
          font-weight: 800;
          color: #373737;
        }
        &:last-of-type {
          font-size: 1.6rem;
          font-weight: 300;
          margin-top: 1.6rem;
          margin-bottom: 10.7rem;
        }
      }
      span {
        font-size: 1.6rem;
        margin-right: 2.4rem;
      }
    }
  }
}
// about end

// company start
.company {
  .inner {
    padding: 11rem 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__title {
    p {
      text-align: left;
      &:nth-child(1) {
        font-size: 4rem;
        line-height: 6.3rem;
        color: #373737;
        font-weight: 800;
      }
      &:nth-child(2) {
        font-size: 1.8rem;
        margin-top: 2.2rem;
      }
    }
  }
  &__img {
    background-image: url(/img/company__img.png);
    width: 100%;
    height: 34.6rem;
    margin-top: 11rem;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  &__history {
    font-size: 25.3rem;
    color: #f6f6f6;
    font-weight: 800;
    rotate: (90deg);
    position: absolute;
    z-index: -1;
    top: 160%;
    right: -32%;
  }
}

.entries {
  width: calc(100% - 80px);
  margin: auto;
  position: relative;
  left: -5px;
  &:before {
    content: "";
    top: 0px;
    left: 50%;
    bottom: 0px;
    position: absolute;
    transform: translateX(-50%);
    width: 4px;
    background-color: #2b4d844b;
  }
  .entry {
    width: calc(50% - 80px);
    float: right;
    padding: 20px;
    clear: both;
    text-align: left;
    padding-top: 110px;
    &:not(:first-child) {
      margin-top: -60px;
    }
    .title {
      font-size: 4.5rem;
      font-weight: 800;
      line-height: 8rem;
      margin-bottom: 12px;
      position: relative;
      color: #373737;
      border-bottom: 1px solid #707070;
      // &:after {
      //   content: "";
      //   width: 51rem;
      //   height: 1px;
      //   display: block;
      //   border-bottom: 1px solid #707070;
      // }
      &:before {
        content: "";
        position: absolute;
        width: 1.2rem;
        height: 1.2rem;
        background-color: #2b4d84;
        border-radius: 100%;
        top: 50%;
        // transform: translateY(-50%);
        // right: 596px;
        transform: translate(-106px, -50%);
        z-index: 1;
      }
      &.big:before {
        transform: translate(8px, -50%);
        background-color: #8a57b2;
      }
      &.big {
        text-align: right;
      }
    }
    .body {
      color: #373737;
      margin-top: 4.5rem;
      p {
        // line-height: 4rem;
        margin-top: 2.5rem;
        font-size: 1.8rem;
      }
    }
    &:nth-child(2n) {
      text-align: left;
      float: left;
      .title {
        &:before {
          // left: 605px;
        }
        &.big:before {
          // transform: translate(-8px, -50%);
          transform: translate(202px, -50%);
        }
      }
    }
  }
}
// company end

// map start
.map {
  .inner {
    padding: 11rem 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__title {
    p {
      text-align: left;
      &:nth-child(1) {
        font-size: 4rem;
        line-height: 6.3rem;
        color: #373737;
        font-weight: 800;
      }
      &:nth-child(2) {
        font-size: 1.8rem;
        margin-top: 2.2rem;
      }
    }
  }
  &__img {
    background-image: url(/img/company__img.png);
    width: 100%;
    height: 41.5rem;
    margin-top: 4.8rem;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  hr {
    width: 100%;
    height: 1px;
    color: #707070;
    margin-top: 4.9rem;
  }
  &__address {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &-box {
      width: calc(100% / 3);
      text-align: left;
      margin-top: 3.4rem;
      color: $main__font-color;
      p {
        &:nth-of-type(1) {
          margin-top: 2.7rem;
          font-size: 2rem;
          font-weight: 600;
        }
        &:nth-of-type(2) {
          margin-top: 2.1rem;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
      &:nth-child(1) {
        .address-icon {
          background-image: url(/img/address-icon-1.png);
          width: 4.5rem;
          height: 4.5rem;
          background-size: cover;
        }
      }
      &:nth-child(2) {
        .address-icon {
          background-image: url(/img/address-icon-2.png);
          width: 4.5rem;
          height: 4.5rem;
          background-size: cover;
        }
      }
      &:nth-child(3) {
        .address-icon {
          background-image: url(/img/address-icon-3.png);
          width: 4.5rem;
          height: 4.5rem;
          background-size: cover;
        }
      }
    }
  }
}

// map end

// product start
.product {
  .inner {
    padding: 11rem 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    &:last-child {
      // flex-direction: column;
      align-items: center;
      padding-bottom: 32.3rem;
    }
  }
  &__title {
    p {
      text-align: left;
      &:nth-child(1) {
        font-size: 4rem;
        line-height: 6.3rem;
        color: #373737;
        font-weight: 800;
      }
      &:nth-child(2) {
        font-size: 1.8rem;
        margin-top: 2.2rem;
      }
    }
  }
  &__img {
    margin-top: 5.6rem;
    background-image: url(/img/product_img.png);
    width: 100%;
    height: 47.6rem;
    background-position: center;
    background-size: cover;
  }
  &__content {
    margin-top: 12rem;
    display: flex;
    p {
      margin-right: 6rem;
      font-size: 4rem;
      color: #363636;
      font-weight: 800;
    }
    &-ul {
      .product__content-li {
        text-align: left;
        p {
          font-size: 1.6rem;
          line-height: 2.8rem;
          font-weight: 400;
          color: #616161;
          margin-right: 0;
          &:first-of-type {
            margin-bottom: 2rem;
            font-size: 2rem;
            line-height: 2.8rem;
            color: #272727;
            font-weight: 800;
          }
        }
        &:not(:first-child) {
          margin-top: 6.4rem;
        }
      }
    }
  }
  &__img-2 {
    width: 100vw;
    height: 48.7rem;
    background-attachment: fixed;
    background-image: url(/img/product_bg-2.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      width: 35.1rem;
      height: 8.5rem;
      background-image: url(/img/product__logo.png);
      background-position: center;
      background-size: cover;
    }
  }
  &__descrip {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    &--img {
      width: 53rem;
      height: 53rem;
      background-color: white;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.16);
      background-image: url(/img/product__descrip--img.png);
      background-size: 73%;
      background-repeat: no-repeat;
      background-position: center;

      position: absolute;
      top: -10rem;
      left: 0;
    }
    &--text {
      text-align: left;
      width: 50%;
      margin-top: 8.1rem;
      p {
        font-size: 1.6rem;
        line-height: 2.8rem;
        margin-top: 3.6rem;
        &:first-child {
          font-size: 3.2rem;
          font-weight: 700;
        }
      }
    }
  }
}
// product end

// marine start
.marine {
  .inner {
    padding: 11rem 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__title {
    p {
      text-align: left;
      &:nth-child(1) {
        font-size: 4rem;
        line-height: 6.3rem;
        color: #373737;
        font-weight: 800;
      }
      &:nth-child(2) {
        font-size: 1.8rem;
        margin-top: 1.8rem;
      }
    }
  }
  &__btn {
    margin-top: 4rem;
    span {
      width: auto;
      height: 4.1rem;
      border: 1px solid #929292;
      background: none;
      border-radius: 23px;
      padding: 1rem 2.4rem;
      margin-right: 2rem;
      color: #929292;
      font-size: 1.8rem;
      cursor: pointer;
      &.select__btn {
        background-color: #2b4d84;
        color: white;
        border: none;
      }
    }
  }

  #board-list {
    width: 100%;
  }
  table.board-table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 9.5rem;
    font-size: 1.8rem;
    width: 100%;
  }

  .board-table a {
    color: #373737;
    display: inline-block;
    line-height: 3rem;
    word-break: break-all;
    vertical-align: middle;
  }

  .board-table thead {
    font-weight: 700;
    th {
      padding: 1.4rem 0;
    }
  }
  .board-table a:hover {
    text-decoration: underline;
  }
  .board-table th {
    text-align: center;
  }

  .board-table .th-num {
    width: 10rem;
    text-align: center;
  }

  .board-table .th-date {
    width: 20rem;
  }

  .board-table th,
  .board-table td {
    padding: 2.3rem 0;
  }

  .board-table tbody {
    border-bottom: 0.1rem solid #707070;
  }
  .board-table tbody td {
    border-top: 0.1rem solid #707070;
    color: #373737;
    font-weight: 400;
    text-align: center;
    font-size: 1.6rem;
  }

  .board-table tbody th {
    padding-left: 2.8rem;
    padding-right: 1.4rem;
    border-top: 0.1rem solid #707070;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 400;
  }

  .board-table tbody th p {
    display: none;
  }
  .foot {
    font-size: 2rem;
    td {
      padding-top: 9rem;
      width: 100%;
      text-align: center;
    }
    a {
      margin-right: 3.2rem;
      text-decoration: none;
      color: #373737;
      font-weight: 500;
    }
    a.txt_point {
      color: $main__point-color;
    }
    .arrow {
      color: #373737;
    }
  }
}

// marine end

// cs start
.cs {
  .inner {
    padding: 11rem 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__title {
    p {
      text-align: left;
      &:nth-child(1) {
        font-size: 4rem;
        line-height: 6.3rem;
        color: #373737;
        font-weight: 800;
      }
      &:nth-child(2) {
        font-size: 1.8rem;
        margin-top: 1.8rem;
      }
    }
  }
  .contact_form {
    font-size: 1.8rem;
    input {
      width: 100%;
      height: 5rem;
      border: 1px solid #c8c8c8;
      margin-top: 2rem;
    }
  }
  .form-elements {
    display: flex;
    flex-direction: column;
    &__text {
      display: flex;
      flex-direction: column;
      width: 45%;
    }
    &__text-long {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
  .form-elements__box {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
    label {
      font-size: 2.2rem;
      font-weight: 700;
      text-align: left;
    }
  }
  .connect__content-email {
    width: 100%;
    margin-top: 6.3rem;
  }
  textarea {
    height: 23.7rem;
    width: 100%;
    border: 1px solid #c8c8c8;
    margin-top: 2rem;
  }
  .button-success {
    width: 20rem;
    height: 5rem;
    background-color: #2b4d84;
    color: white;
    font-size: 1.8rem;
    border: none;
    margin-top: 7.4rem;
    align-self: flex-end;
  }
  .thankyou_message {
    display: none;
  }
}
// cs end
