@import url(./reset.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");
@font-face {
  font-family: "KOHIBaeumOTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  word-wrap: break-word;
  word-break: keep-all;
  text-align: center;
  overflow-x: hidden;
}

body {
  position: relative;
  color: #272727;
  font-family: "Pretendard";
  font-size: 1.6rem;
}

.inner {
  margin: 0 auto;
  height: auto;
}

.intro,
.tech,
.product {
  height: 50rem;
  background-size: cover;
  background-position: center;
}
.intro .inner,
.tech .inner,
.product .inner {
  max-width: calc(100% - 13.6rem);
  padding: 9.7rem 0 20.8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub__title {
  color: white;
}

.sub__top {
  font-size: 5.4rem;
  line-height: 6.4rem;
  font-weight: 700;
}

.sub__bottom {
  font-size: 1.8rem;
  line-height: 2.1rem;
  margin-top: 3rem;
}

.sub__detail-1,
.sub__detail-2 {
  background-color: white;
}
.sub__detail-1 .inner,
.sub__detail-2 .inner {
  max-width: calc(100% - 62rem);
  padding: 8rem 0 10.5rem 0;
}

.sub__detail-3 {
  background-color: #f6f6f6;
}
.sub__detail-3 .inner {
  max-width: calc(100% - 62rem);
  padding: 8rem 0 10.5rem 0;
}

.sub__detail-4 {
  background-color: #f8f8f8;
}
.sub__detail-4 .inner {
  max-width: calc(100% - 62rem);
  padding: 8rem 0 10.5rem 0;
}

.sub__detail-title {
  text-align: left;
}
.sub__detail-title::before {
  content: "";
  width: 3.7rem;
  height: 0.5rem;
  background-color: #074999;
  display: inline-block;
}
.sub__detail-title--top {
  font-size: 3.6rem;
  line-height: 4.2rem;
  font-weight: 700;
  margin-top: 1.8rem;
}
.sub__detail-title--bottom {
  font-size: 1.8rem;
  line-height: 2.1rem;
  margin-top: 1.5rem;
}

.nav {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 8rem;
  color: white;
  background-color: transparent;
}
.nav .inner {
  max-width: calc(100% - 13.6rem);
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  width: 25rem;
  height: 4.2rem;
  background-image: url(/img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.nav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__menu a {
  color: white;
}
.nav__menu a li {
  margin-right: 4rem;
  line-height: 2.1rem;
  font-size: 1.8rem;
}
.nav__menu a:last-child {
  margin-right: 0;
}
.nav__menu .dropdown {
  color: white;
  background-color: transparent;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  left: 0;
  top: 8rem;
  height: 5rem;
  width: 100%;
  display: none;
}
.nav__menu .dropdown li {
  font-size: 1.8rem;
  line-height: 2.1rem;
  margin-right: 6.6rem;
}
.nav__menu .flex__box {
  display: flex;
}

.hidden__section-top {
  height: 8rem;
}

.main {
  max-width: 192rem;
  height: 0;
  background-image: url(/img/main.png);
  background-size: contain;
  padding-bottom: 56.25%;
}
.main .inner {
  max-width: calc(100% - 13.6rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__content {
  margin-top: 15.6rem;
}
.main__title {
  font-family: "KOHIBaeumOTF";
  color: white;
  font-size: 5.4rem;
  line-height: 6rem;
}
.main__text {
  margin-top: 3.7rem;
  color: white;
  font-size: 2.4rem;
  line-height: 3.8rem;
}

.footer {
  width: 100vw;
  height: 100%;
  background-color: #074999;
  font-size: 1.5rem;
  text-align: right;
  font-weight: 100;
}
.footer .inner {
  max-width: calc(100% - 13.6rem);
  padding: 5.9rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__logo {
  width: 25rem;
  height: 4.2rem;
  background-image: url(/img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.footer p {
  color: white;
  margin-top: 1.6rem;
}
.footer p a {
  text-decoration: none;
  color: white;
}

.intro {
  background-image: url(/img/intro_bg.png);
}

.vision {
  margin-top: 6rem;
}
.vision__img {
  background-image: url(/img/vision_img.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 32.7rem;
}
.vision__graph {
  margin-top: 8.2rem;
  width: 100%;
}
.vision__graph tr {
  padding: 3rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.vision__graph th {
  font-size: 2.6rem;
  line-height: 3.5rem;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vision__graph td {
  width: 60%;
}
.vision__graph ul li {
  margin-top: 2rem;
  font-size: 1.8rem;
  line-height: 2.8rem;
  text-align: left;
  list-style-type: disc;
}
.vision__graph-title {
  display: flex;
}
.vision__graph-title:before {
  content: "";
  background-image: url(/img/vision_graph.png);
  background-size: cover;
  width: 25.1rem;
  height: 16.1rem;
  display: block;
  margin-bottom: 1.8rem;
}
.vision__title {
  margin-left: 3.3rem;
}

.sub__detail-2--img,
.sub__detail-3--img,
.sub__detail-4--img {
  background-size: cover;
  background-position: center;
  margin: auto;
}

.sub__detail-2--img {
  max-width: 82rem;
  height: 48rem;
  background-image: url(/img/vision_img-2.png);
  margin-top: 5rem;
  margin-bottom: 14.6rem;
}

.sub__detail-3--img {
  max-width: 100%;
  height: 73.9rem;
  background-image: url(/img/vision_img-3.png);
  margin-top: 6rem;
}

.sub__detail-4--img {
  max-width: 100%;
  height: 33.9rem;
  background-image: url(/img/vision_img-4.png);
  margin-top: 3.5rem;
}

.sub__detail-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5.6rem;
}
.sub__detail-profile--img {
  background-size: cover;
  background-position: center;
  width: 16.6rem;
  height: 23.3rem;
  background-image: url(/img/profile_img.png);
  margin-right: 17rem;
}
.sub__detail-profile--text {
  text-align: left;
}
.sub__detail-profile--text-li {
  margin-top: 5.1rem;
  display: flex;
}
.sub__detail-profile--text p {
  font-size: 2.2rem;
  font-weight: 600;
}
.sub__detail-profile--text ul {
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin-right: 6rem;
}

.ceo {
  text-align: left;
}
.ceo .inner {
  max-width: calc(100% - 62rem);
  padding: 14rem 0 15.4rem 0;
}
.ceo__title {
  font-size: 3.6rem;
  font-weight: 800;
}
.ceo__container {
  margin-top: 8.7rem;
  display: flex;
}
.ceo__text-title {
  font-size: 3.6rem;
  line-height: 5.4rem;
  color: #074999;
  font-weight: 700;
}
.ceo__text-content {
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin-top: 5.7rem;
  max-width: 80.2rem;
  margin-right: 8rem;
}
.ceo__img {
  width: 41.8rem;
  height: 66.5rem;
  background-position: center;
  background-size: cover;
  background-image: url(/img/ceo.png);
}
.ceo .ceo__sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 3rem;
}
.ceo .ceo__sign::after {
  content: url(/img/ceo_sign.png);
  width: auto;
  height: 4.3rem;
  background-position: center;
  margin-left: 1.3rem;
}

.tech {
  background-image: url(/img/tech_bg.png);
}
.tech__container {
  margin-top: 9.5rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.tech__box {
  width: 49%;
}
.tech__box-img {
  height: 30rem;
  background-position: center;
  background-size: cover;
}
.tech__box:first-child .tech__box-img {
  background-image: url(/img/tech_box-1.png);
}
.tech__box:last-child .tech__box-img {
  background-image: url(/img/tech_box-2.png);
}
.tech__box-title {
  font-size: 2.6rem;
  margin-top: 3rem;
  line-height: 3rem;
  font-weight: 700;
}
.tech__box-text {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 2.2rem;
}

.product {
  background-image: url(/img/product_bg.png);
}

.product__container {
  text-align: left;
  margin-top: 9.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__product-img {
  background-image: url(/img/product.png);
  width: 34.8rem;
  height: 39.2rem;
  background-position: center;
  background-size: cover;
}

.product__product-detail {
  width: 60%;
}
.product__product-detail p:nth-child(1) {
  font-size: 3.8rem;
  line-height: 7.6rem;
  font-weight: 800;
}
.product__product-detail p:nth-child(2) {
  font-size: 2rem;
  line-height: 4.5rem;
  font-weight: 600;
  margin-top: 4rem;
}
.product__product-detail p:nth-child(3), .product__product-detail p:nth-child(4) {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 7.5rem;
}

.product__table {
  margin-top: 19rem;
  display: flex;
  flex-direction: row;
}
.product__table-box {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
}
.product__table-box:nth-child(1) .table-box--img {
  background-image: url(/img/product_img-1.png);
  height: 7.4rem;
  margin-top: 7.6rem;
}
.product__table-box:nth-child(1) .table-box--text {
  margin-top: 9.1rem;
}
.product__table-box:nth-child(2) .table-box--img {
  background-image: url(/img/product_img-2.png);
  height: 9.2rem;
  margin-top: 6.8rem;
}
.product__table-box:nth-child(2) .table-box--text {
  margin-top: 8.2rem;
}
.product__table-box:nth-child(3) .table-box--img {
  background-image: url(/img/product_img-3.png);
  height: 14.5rem;
  margin-top: 4.2rem;
}
.product__table-box:nth-child(3) .table-box--text {
  margin-top: 5.6rem;
}

.table-box--img {
  width: 42rem;
  background-size: cover;
  background-position: center;
}

.table-box--text {
  text-align: left;
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.table-box--text p:last-child {
  margin-top: 3.5rem;
  text-align: right;
}

.table-box--title {
  width: 42rem;
  height: 4.1rem;
  background-color: #074999;
  font-size: 2rem;
  color: white;
  line-height: 4rem;
}/*# sourceMappingURL=style.css.map */